#team-full{
    background-image: url("/imgs/team.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.team-full-bg{
    background: #00000042;
}

#team{
    background: #4379c6;
}
#team a:hover{
    color: #4379c6;
}
#team-full a:hover{
    color: #4379c6;
}

.card{
    perspective: 1000px;
}

.card-front{
    backface-visibility: hidden;
    transition: 0.7s;
    position: relative;
}

.card-back{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 0.7s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    white-space: nowrap;
    left: 0;
    color: rgb(108, 164, 227);
    overflow: hidden;
}
.card-back h5{
    margin-bottom: 25px;
}
.card-back p, .card-back h2, .card-back h5{
    margin-left: 15px;
}
@media screen and (min-width : 768px) {
    .card-back h2{
        font-size: 15px;
    }
    .card-back h5{
        font-size: 13px;
    }
    .card-back p{
        font-size: 11px;
    }
    .card-back{
        margin: 0;
    }
}


.card-back p span a:hover{
    text-decoration: underline;
}
.card-back{
    transform: rotateY(180deg);
}
.card:hover .card-front{
    transform: rotateY(180deg);
}
.card:hover .card-back{
    transform: rotateY(0);
}